<?php
/**
 * @var $block \Kowal\Callback\Block\Callback
 */
 if($block->display()){?>
<div id="kowal" class="kowal">
    <a id="kowal-button" class="kowal-button" href="<?= $block->phone(); ?>">
        <div id="kowal-waves" class="kowal-waves"></div>
        <div id="kowal-circle" class="kowal-circle"></div>
        <img id="kowal-button-icon"
             alt="<?= __("Call");?>"
             class="kowal-button-icon"
             data-width="<?= $block->wielkosc(); ?>"
             data-height="<?= $block->wielkosc(); ?>"
             data-right="<?= $block->odleglosc(); ?>"
             data-bottom="<?= $block->odleglosc(); ?>"
             data-position="<?= $block->polozenie(); ?>"
             style="width: <?= $block->wielkosc(); ?>px; height: <?= $block->wielkosc(); ?>px; <?= $block->polozenie(); ?>: <?= $block->odleglosc(); ?>px; bottom: <?= $block->odleglosc(); ?>px;"
             src="<?php echo $this->getViewFileUrl('Kowal_Callback::images/call.png'); ?>">
    </a>
</div>
<?php if ($block->animacja()){?>
<script>
    require(['jquery', 'callback'], function($, callback) {
        callback();
    });
</script>
<?php } ?>
<?php } ?>