.kowal-button {
  cursor: pointer;
}

.kowal-button-icon {
  position: fixed;
  -webkit-transition: opacity 0.6s ease-out;
  -moz-transition: opacity 0.6s ease-out;
  -o-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  opacity: 1;

  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 300;
}

.kowal-button:hover .kowal-button-icon {
  opacity: 0.5;
}


.kowal-circle {
  position: fixed;
  background-color: #8dffc4;
  -webkit-transition: background-color 0.6s ease-out;
  -moz-transition: background-color 0.6s ease-out;
  -o-transition: background-color 0.6s ease-out;
  transition: background-color 0.6s ease-out;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  z-index: 200;
}

.kowal-waves {
  position: fixed;
  border: 2px solid #44f59a;

  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: border-color 0.6s ease-out;
  -moz-transition: border-color 0.6s ease-out;
  -o-transition: border-color 0.6s ease-out;
  transition: border-color 0.6s ease-out;
  z-index: 100;
}


@media (min-device-width: 320px) {
  .kowal-waves {

  }

  .kowal-circle, .kowal-button-icon {

  }
}

@media (min-device-width: 960px) {
  .kowal-waves {

  }

  .kowal-circle, .kowal-button-icon {

  }
}
